<%- include('./partials/header') %>
    <link rel="stylesheet" href="css/login.css">
    <title>Login system</title>
    </head>

    <body>
        <!-- perlu perbaikan responsive web page -->

        <div class="container">
            <h1 style="color: #e4ded5">Login</h1>
            <% if(message.length>0) {%>
                <div class="alert <%= messageClass %> " role="alert">
                    <%= message %>
                </div>
                <% } %>
                    <form method="POST" action="/login">
                        <div class="mb-3">
                            <label for="exampleInputEmail1">Username</label>
                            <input name="user_name" type="text" class="form-control" id="exampleInputUsername1"
                                placeholder="Enter Username">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1">Password</label>
                            <input name="password" type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Enter Password">
                        </div>
                        <div style="margin-top:-15px;margin-bottom: 10px">
                            Create new account? <a href="/user/add"><b>Register</b></a>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign In</button>
                        <a href="/">Kembali</a>
                    </form>
                    <footer>
                        <p>&copy; 2021 kelas. FSW 5 Binar Academy</p>
                    </footer>
        </div>

        <%- include('./partials/footer') %>