<%- include('./partials/header') %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Login system</title>
    </head>

    <body>
        <div class="container">
            <h1 style="color:#e4ded5">Sign Up</h1>
            <form action="/user" method="POST">
                <div class="mb-3">
                    <label>Username</label>
                    <input class="form-control" type="text" name="user_name" placeholder="username">
                </div>

                <div class="mb-3">
                    <label>Password</label>
                    <input class="form-control" type="text" name="password" placeholder="password">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/">Kembali</a>
            </form>

            <footer>
                <p>&copy; 2021 kelas.FSW 5 Binar Academy</p>
            </footer>
        </div>

        <%- include('./partials/footer') %>