<%- include('../partials/header') %>
    <link rel="stylesheet" href="css/login.css">
    <title>Daftar User</title>
    </head>

    <%- include('../partials/navbar') %>
        <h1>Daftar User (<%= table.length %>)</h1>

        <hr>
        <table class="table table-sm table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Password</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <% let number=1 %> 
                <%table.forEach(function(entry) {%>
                    <tr>
                        <th scope="row">
                            <%= number++ %>
                        </th>
                        <td>
                            <%=entry.user_name%>
                        </td>
                        <td>
                            <%= " ****** " %>
                        </td>
                        <td>
                            <a class="btn btn-info" role="button" href="/user/find/<%=entry.id%>">Detail</a>
                            <a class="btn btn-secondary" role="button" href="/user/update/<%=entry.id%>">Update</a>
                            <form style="display: inline;" method="POST"
                                action="/user/find/<%=entry.id%>?_method=DELETE">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

        <footer>
            <p>&copy; 2021 kelas.FSW 5 Binar Academy</p>
        </footer>
        </div>
        </div>

        <%- include('../partials/footer') %>