<%- include('../partials/header') %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Profile User</title>
    </head>

    <%- include('../partials/navbar') %>
        <h1>History User</h1>

        <table class="table table-sm table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Log History</th>
                </tr>
            </thead>
            <tbody>
                <% let number=1 %> 
                <%table.forEach(function(entry) {%>
                    <tr>
                        <th scope="row">
                            <%= number++ %>
                        </th>
                        <td>
                            <%=entry.User.user_name%>
                        </td>
                        <td>
                            <%=entry.log%>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

        <footer>
            <p>&copy; 2021 kelas. FSW 5 Binar Academy</p>
        </footer>
        <%- include('../partials/footer') %>