<%- include('../partials/header') %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Profile User</title>
    </head>

    <%- include('../partials/navbar') %>
        <h1>Profile User</h1>

        <table class="table table-sm table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Username</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <% let number=1 %> 
                <%table.forEach(function(entry) {%>
                    <tr>
                        <th scope="row">
                            <%= number++ %>
                        </th>
                        <td>
                            <%=entry.User.user_name%>
                        </td>
                        <td>
                            <%=entry.first_name%>
                        </td>
                        <td>
                            <%=entry.last_name%>
                        </td>
                        <td>
                            <%=entry.email%>
                        </td>
                        <td>
                            <%=entry.gender%>
                        </td>
                        <td>
                            <a class="btn btn-secondary" role="button"
                                href="/user/profile/find/<%=entry.id%>">Detail</a>
                            <a class="btn btn-secondary" role="button"
                                href="/user/profile/update/<%=entry.id%>">Update</a>

                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

        <footer>
            <p>&copy; 2021 kelas. FSW 5 Binar Academy</p>
        </footer>
        <%- include('../partials/footer') %>