<%- include('../partials/header') %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Login system</title>
    </head>

    <%- include('../partials/navbar') %>
        <h1>Detail User</h1>
        <hr>
        <h5>Details</h5>
        <table class="table mt-3">
            <tbody>
                <tr>
                  <th>Id</th>
                  <td><%= userId.id %></td>
                </tr>
                <tr>
                  <th>Username</th>
                  <td><%= userId.user_name %></td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td><%= userId.UserProfile.email %></td>
                </tr>
                <tr>
                  <th>Password</th>
                  <td><%= userId.password %></td>
                </tr>
                <tr>
                  <th>First Name</th>
                  <td><%= userId.UserProfile.first_name %></td>
                </tr>
                <tr>
                  <th>Last Name</th>
                  <td><%= userId.UserProfile.last_name %></td>
                </tr>
                <tr>
                  <th>Gender</th>
                  <td><%= userId.UserProfile.gender %></td>
                </tr>
              </tbody>
        </table>
        <h5>Activities</h5>
        <table class="table mt-3">
          <thead>
            <tr>
              <th>Log</th>
              <th>Log Date</th>
            </tr>
          </thead>
          <tbody>
            <% userId.User_histories.forEach(info => { %>
            <tr>
              <td><%= info.log%></td>
              <td><%= info.log_date %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <footer>
            <p>&copy; 2021 kelas. FSW 5 Binar Academy</p>
        </footer>
        <%- include('../partials/footer') %>